.projectName {
  color: rgb(0, 190, 10);
  font-size: 2em;
  text-shadow: 1px 1px indigo;

}

h1
{
  color: red;
  text-shadow: 2px 2px rgb(75, 6, 0);

  font-size: 4em;
}
h2 {
  color: blue;
}

img {
  width: 60%;
  height: 600px;
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
}

body {
  max-width: 5000px;
  margin: auto;
  text-align: center;
  background-color: rgb(202, 199, 199);
  

}
